[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aerich = "*"
python-dotenv = "*"
jishaku = "*"
"discord.py" = {extras = ["voice"], version = "*"}
PyYAML = "*"
asyncpraw = "*"
pydantic = "*"
watchgod = "*"
"akinator.py" = "*"
cachetools = "*"
PyNaCl = "*"
youtube_dl = "*"
psutil = "*"
discord-flags = "*"
tortoise-orm = "*"
asyncpg = "*"
pypika = "*"
nepse-api = "==1.1.5a0"
pillow = "*"
wavelink = "*"

[dev-packages]
rope = "*"
black = "*"

[requires]
python_version = "3.9.5"

[pipenv]
allow_prereleases = true
