[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aerich = "*"
python-dotenv = "*"
jishaku = "*"
"discord.py" = "*"
PyYAML = "*"
asyncpraw = "*"
pydantic = "*"
watchgod = "*"
"akinator.py" = "*"
cachetools = "*"
PyNaCl = "*"
youtube_dl = "*"
psutil = "*"
discord-flags = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.9.5"
