[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aerich = "*"
python-dotenv = "*"
jishaku = "*"
"discord.py" = "*"
PyYAML = "*"
asyncpraw = "*"
pydantic = "*"
watchgod = "*"
autopep8 = "*"
"akinator.py" = "*"
cachetools = "*"
pynacl = "*"
youtube-dl = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.tortoise-orm]
extras = [ "asyncpg",]
