aerich==0.5.0
aiofiles==0.6.0
aiohttp==3.7.4
aiosqlite==0.16.1
appdirs==1.4.4
aPRAW==0.6.8a0
astunparse==1.6.3
async-timeout==3.0.1
asyncpg==0.22.0
asyncpraw==7.2.0
asyncprawcore==2.0.1
attrs==20.3.0
autopep8==1.5.5
black==20.8b1
braceexpand==0.1.6
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
ddlparse==1.9.0
dictdiffer==0.8.1
discord.py==1.6.0
humanize==3.2.0
idna==2.10
import-expression==1.1.4
iso8601==0.1.14
jishaku==1.20.0.220
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.8.1
pycodestyle==2.6.0
pydantic==1.8
pyparsing==2.4.7
PyPika==0.44.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.4.1
ReactivePy==2.0.0.dev0
regex==2020.11.13
requests==2.25.1
rope==0.18.0
six==1.15.0
toml==0.10.2
tortoise-orm==0.16.21
typed-ast==1.4.2
typing-extensions==3.7.4.3
update-checker==0.18.0
urllib3==1.26.3
watchgod==0.7
yarl==1.6.3
